body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1, h2 {
    margin: 0.5em 0;
}

section {
    padding: 2em;
    background-color: white;
    margin: 1em auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member1{
    width: 100%;
    /* max-width: 200px; */
    margin: 1em;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
}


.next{
    position: absolute;
    top: 7%;
    left: 10%;
    font-size: 25px;
}

.next i {
    color: white;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5em 0 0.2em;
}

input, textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 5rem;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
